/* other css style... */

/* new added */
.task-list-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-list-container h2 {
  color: #000000;
}

.task-scroll {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 20px;
}

.task-item {
  padding: 15px;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
}

.task-item:last-child {
  margin-bottom: 0;
}

.task-item.completed {
  background-color: #e5fde1;
}

.task-item h3 {
  margin: 0;
  color: #333;
}

.task-item p {
  margin: 0;
  color: #777;
}